//we will use the following environment variable to store our Google Maps API key. 
//pls make sure to replace 'your_google_maps_api_key_here' with your actual API key when you create your .env file.
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
